<html>

<head>
	<title>TO do</title>
	<!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" -->
	<!-- integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script> -->
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"
		integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/assets/style.css">
</head>

<body>
	<!-- aditya -->
	<div class="container">

		<div class="boundary">
			<div class="top">
				<h3>The TO-DO App</h3>
			</div>
			<hr class="hr1">
			<div class="add">
				<form>
					<input type="text" placeholder="Add item"></input>
					<button type="submit">Add</button>
				</form>
			</div>
			<hr>
			<div class="content">

				<ul class="content-ul">
					<% for(var i=0; i<todos.length; i++){ %>
					<li><%= todos[i].item %></li>
					<% }%>
				</ul>
			</div>
		</div>
	</div>
	<script src="/assets/todo-list.js"></script>
</body>

</html>